<?xml version="1.0" encoding="UTF-8"?><!-- web.xml文件内容 -->
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <filter>  
    <filter-name>SessionFilter</filter-name>  
    <filter-class>servlet.SessionFilter</filter-class>  
  </filter>  
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>servlet.ActionServlet</servlet-class>
    <init-param>
      <param-name>profile</param-name>
      <param-value>WEB-INF/log4j.properties</param-value>
   	</init-param> 
   	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/ActionServlet</url-pattern>
  </servlet-mapping>
</web-app>